@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--color-primary: #000;
}

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Inter Tight", sans-serif;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
.special-font {
	font-family: Merienda, cursive;
	font-optical-sizing: auto;
	font-style: normal;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}

.bg {
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0px;
	top: 0px;
	opacity: 0.1;
	background:
		linear-gradient(90deg, white 1px, transparent 1px) 0 0 / 30px 30px,
		linear-gradient(white 1px, transparent 1px) 0 0 / 30px 30px;
	mask: linear-gradient(transparent, white, transparent);
}

.emoji {
	animation: emojifloat 2s ease-in-out infinite;
	display: inline-block;
	font-size: 40px;
	height: fit-content;
	padding: 5px;
	unicode-bidi: isolate;
	width: fit-content;
}
@keyframes emojifloat {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-5px);
	}

	100% {
		transform: translateY(0px);
	}
}

.blue-gradient {
	background: linear-gradient(to bottom, #60a5fa, #1d4ed8);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}
