---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import  SmoothScroll from '../components/SmoothScroll';
import Typewriter from "astro-typewriter";

---

<!doctype html>
<html data-theme="dark" lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="z-200 text-gray-200 main-content relative bg-primary" id="start">
			<div class="bg"></div>
			<Header />
			<main class="relative">
				<section id="home" class="max-w-screen-xl px-4 md:py-10 mx-auto h-[100dvh] flex flex-col justify-center">
					<p class="special-font text-4xl sm:text-5xl font-bold mb-3 fade-up-0"><span class="blue-gradient">Hey :)</span><span class="emoji">👋</span></p>
					<p class="special-font text-4xl sm:text-5xl font-bold mb-6 fade-up-2">My name is Emiel</p>
					<div class="text-3xl blue-gradient fade-up-4 mb-4">
					<Typewriter messages={["< Passionate developer />", "< Full Stack />", "< Hobbyist />",]} />
					</div>
					<p class="text fade-up-4 sm:max-w-[40rem] text-gray-500 mb-52">A recent Software Engineering graduate from Howest Brugge with a broad
						interest in various IT fields. I have primarily developed my skills in creating web
						applications and am eager to expand my expertise into new areas as needed.
						</p>
				</section>
				<section id="about" class="max-w-screen-xl px-4 md:py-10 mx-auto">
					<h2 class="text-2xl h-dvh">About</h2>
				</section>
				<section id="blog" class="max-w-screen-xl px-4 md:py-10 mx-auto">
					<h2 class="text-2xl h-dvh">Blog</h2>
				
				</section>
			</main>
			<!-- <Footer /> -->
		</div>
	
		<SmoothScroll client:only="react" />
	</body>
</html>
