---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION, LINKEDIN_URL, GITHUB_URL } from "../consts";
import Typewriter from "astro-typewriter";
import DownloadButton from "../components/DownloadButton.astro";
import "../styles/scroll-indicator.css";
import LinkButton from "../components/LinkButton.astro";
import GlowCard from "../components/GlowCard.astro";
import ExperienceTimeline from "../components/ExperienceTimeline.astro";
import SmoothScroll from "../components/SmoothScroll.astro";
import BlogList from "../components/BlogList.astro";
---

<!doctype html>
<html data-theme="dark" lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="main-content bg-primary relative z-200 text-gray-200" id="start">
			<div class="bg"></div>
			<Header />

			<main class="relative">
				<section
					id="home"
					class="xs:pt-0 mx-auto flex max-w-screen-xl flex-col justify-center px-4 pt-6 md:py-10 lg:min-h-[500px]"
				>
					<div class="mb-20 md:mb-36">
						<div class="mt-20 mb-52">
							<p class="special-font fade-up-0 mb-3 text-4xl font-bold sm:text-5xl">
								<span class="blue-gradient">Hey :)</span><span class="emoji">👋</span>
							</p>
							<p class="special-font fade-up-2 mb-6 text-4xl font-bold sm:text-5xl">
								My name is Emiel
							</p>
							<div class="blue-gradient fade-up-4 mb-4 text-3xl">
								<Typewriter
									messages={[
										"< Passionate developer />",
										"< Full Stack />",
										"< Hobbyist />",
										"< Team player />",
									]}
								/>
							</div>
							<p class="text fade-up-4 mb-4 text-xl text-gray-500 sm:max-w-[55rem]">
								A recent Software Engineering graduate from Howest Brugge with a broad interest in
								various IT fields. I have primarily developed my skills in creating web applications
								and am eager to expand my expertise into new areas as needed.
							</p>
							<div class="thin fade-up-6 mb-4 flex items-center gap-2 text-sm">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="lucide lucide-map-pin-icon lucide-map-pin"
									><path
										d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
									></path><circle cx="12" cy="10" r="3"></circle></svg
								>
								Bruges, Belgium
							</div>
							<div class="flex gap-3">
								<DownloadButton downloadUrl="/files/CV-Emiel-Delaey.pdf" class="fade-up-8 grow-0">
									Download CV
								</DownloadButton>
								<LinkButton class="fade-up-10" external linkUrl={LINKEDIN_URL} name="linkedin">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="lucide lucide-linkedin-icon lucide-linkedin"
										><path
											d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
										></path><rect width="4" height="12" x="2" y="9"></rect><circle
											cx="4"
											cy="4"
											r="2"></circle></svg
									>
								</LinkButton>
								<LinkButton class="fade-up-12" external linkUrl={GITHUB_URL} name="github">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="lucide lucide-github-icon lucide-github"
										><path
											d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
										></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
									>
								</LinkButton>
							</div>
						</div>

						<a
							class="scroll-indicator smooth-link scroll-indicator-init block"
							href="#about"
							aria-label="Scroll to About section"
						>
							<div class="scroll-dot"></div>
						</a>
					</div>
				</section>
				<section id="about" class="xs:pt-0 mx-auto max-w-screen-xl px-4 pt-6 md:py-10">
					<div class="text-center">
						<h2 class="special-font mb-3 text-2xl font-bold sm:text-5xl fade-up-0">
							<span class="blue-gradient">About</span> Emiel
						</h2>
						<p class="mb-6 text-gray-400 fade-up-2">A little more about who I am.</p>
					</div>

					<div class="grid gap-8 md:grid-cols-2">
						<ul class="space-y-6 text-lg">
							<li class="flex items-center gap-4 fade-up-2">
								<span class="min-w-10 text-center text-3xl fade-up-0">👨‍💻</span>
								<span
									>I'm a passionate Software Engineer specialized in web development and modern
									technologies like Node.js, React, and Spring Boot.</span
								>
							</li>
							<li class="flex items-center gap-4 fade-up-2">
								<span class="min-w-10 text-center text-3xl fade-up-0">🎓</span>
								<span
									>Graduated from Howest Brugge with a Bachelor in Applied Computer Science, with
									strong practical experience through internships and personal projects.</span
								>
							</li>
							<li class="flex items-center gap-4 fade-up-2">
								<span class="min-w-10 text-center text-3xl fade-up-0">🛠</span>
								<span
									>Skilled across both front-end and back-end stacks. Comfortable with tools like
									Vue, React Native, Spring Boot, and relational databases.</span
								>
							</li>
							<li class="flex items-center gap-4 fade-up-2">
								<span class="min-w-10 text-center text-3xl fade-up-0">💡</span>
								<span
									>Always eager to learn, grow, and embrace new challenges in the ever-evolving tech
									world.</span
								>
							</li>
							<li class="flex items-center gap-4 fade-up-2">
								<span class="min-w-10 text-center text-3xl fade-up-0">🌍</span>
								<span
									>Based in Bruges, Belgium -  I am a native Dutch speaker and fluent in English.</span
								>
							</li>
						</ul>

						<div class="flex justify-center fade-up-4">
							<GlowCard class="p-6 text-center">
								<h3 class="mb-4 text-2xl font-bold">What drives me?</h3>
								<p class="text-lg text-gray-400">
									Creativity, collaboration, and a passion for solving real-world problems through
									technology.
								</p>
							</GlowCard>
						</div>
					</div>
				</section>
				<section id="blog" class="xs:pt-0 mx-auto max-w-screen-xl px-4 pt-6 md:py-20">
					<div class="mb-12 text-center">
						<h2 class="special-font text-2xl font-bold sm:text-5xl">
							<span class="blue-gradient">Blog</span> Posts
						</h2>
						<p class="mt-2 text-gray-400">My latest thoughts and findings.</p>
					</div>
					<div class="max-w-3xl mx-auto">
						<BlogList />
					</div>
				</section>
				<section id="experience" class="xs:pt-0 mx-auto max-w-screen-xl px-4 pt-6 md:py-10">
					<div class="mb-12 text-center">
						<h2 class="special-font text-2xl font-bold sm:text-5xl">
							<span class="blue-gradient">My Developer </span> Journey
						</h2>
						<p class="mt-2 text-gray-400">A glimpse into my professional journey.</p>
					</div>
					<div class="max-w-screen-md">
						<ExperienceTimeline />
					</div>
				</section>
			</main>
			<!-- <Footer /> -->
			<div id="menuSidebar" class="sidebar-menu fixed sm:hidden">
				<div class="internal-links flex flex-col gap-10 p-6">
					<a href="#start" class="font-medium text-white uppercase">Home</a>
					<a href="#about" class="font-medium text-white uppercase">About</a>
					<a href="#blog" class="font-medium text-white uppercase">Blog</a>
				</div>
			</div>
		</div>

		<SmoothScroll />
	</body>
</html>
