---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="border-b border-gray-600 border-opacity-25 nav backdrop-blur-lg sticky top-0 z-200">
  <nav class="max-w-screen-xl px-2 py-4 mx-auto flex flex-row justify-between items-center gap-10">
    <h1 class=""><a href="/">{SITE_TITLE}</a></h1>
    <div class="internal-links">
      <HeaderLink href="#start">Home</HeaderLink>
      <HeaderLink href="#about">About</HeaderLink>
      <HeaderLink href="#blog">Blog</HeaderLink>
    </div>
  </nav>
</header>
<style>
</style>